/*CSS RESET*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/*GENERAL STYLES*/
*{
    box-sizing: border-box;
    max-width: 100%;
}

html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;	
    
}
h1, p, .name, .bio {	
    font-family: 'Raleway', sans-serif;	
    text-align: center;	
    margin: 4%;	
}	
h1{
    font-size:6rem;
    margin:0;
}
a {	
    text-decoration: none;	
    color: #4F4F4F;
    font-size:2.5rem;	
}	
a:hover {	
    font-weight: bold;	
}	
.name{	
    font-size: 150%;	
    font-weight: 200;	
}	
img {	
    height:39rem;	
    object-fit: cover;	
    display: block;	
    margin: 2%;	
    margin-top: 4%;	
    margin-left: auto;	
    margin-right: auto;	
    border-radius: 2%;	
}	
img:hover {	
    opacity: 80%;	
}	

/*HEADER STYLES */

header{
    display:flex;
    justify-content: center;
}

nav{
    width:40%;
    display:flex;
    justify-content: space-evenly;
    margin-top:5%;
}
nav .home{
    font-weight: bold;
}
nav a{
    color:#626262;
}
nav span{
    border-left:3px solid #626262;

}
/*Title Section Styles*/
#title{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height:50vh;
    margin:3% 0;
    width: 100%
}
#title .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg/1920px-John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg');		
    background-position: center;
}
#title .title-container {
    display: flex;	
    color: white;	
    width:70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height:50vh;
}

#title .pic .title-container  h1{
    width: 70%;
    line-height: 1.2;
    text-align: center;
}

div hr{
    width: 85%;
    color: gray;
    border-color: lightgray;
    border-width: 4px;
    border-radius: 10%;
    border-bottom: 0;
    opacity: 40%;
}

.title-container  button{
    padding:1% 3%;
    font-size: 1.6rem;
    border-radius:6px;
    border:1% solid lightgray;
    box-shadow: 0 1px 1px 1px #626262;
    transition: 2s;
    color: #626262;
}
button:hover{
    background-color:#626262;
    border:2% solid white;
    color:white;
    box-shadow: 2px 2px 1px white;
    opacity: 80%;
}
/*Artists Section Styles */
.artists-container{
    display:flex;
    flex-flow: column wrap;
    border: 1px solid blue;
    justify-content: space-evenly;
    width:80%;
    margin:0 auto;
}

.artist{
    display: flex;
    flex-flow: wrap row;
    width:100%;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid yellow;
    height: 40vh;
}
.artists-container .artist .column{
    /* display: flex;
    flex-flow: nowrap row; */
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    text-align:center;
    height: 60vh;
    border: 1px solid red;
}
.artists-container .artist .column img{
    width: 100%;
    height:40vh;
    margin: 3%;
}
/* media query for phone */
@media(max-width:500px){
    nav{
        width: 60%;
    }
    .title-container div{
        width: 100%;
    }    
    .title-container hr{
        width: 90%
    }
}